name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'
        cache: true

    - name: Build
      run: make build

    - name: Test
      run: make test

    - name: Run
      run: make run
